{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ 'Browse Source' }}{% endblock %}
{% block head %}{{ 'Browse Source' }}{% endblock %}
{% block description %}{{ '...' }}{% endblock %}

{% block content %}
<h2 class="blue">mushroom / mushroom_core</h2>
<p>&nbsp;</p>
<table class="bordered-table zebra-striped">
	<thead>
		<th>Name</th>
		<th>Age</th>
		<th>Message</th>
	</thead>
	<tbody>
		<tr>
			<td>dashboard/</td>
			<td>about 15 hours ago</th>
			<td>gitignore added. mushroom_core commit by Jweb</td>
		</tr>
		<tr>
			<td>dashboard/</td>
			<td>about 15 hours ago</th>
			<td>gitignore added. mushroom_core commit by Jweb</td>
		</tr>
		<tr>
			<td>dashboard/</td>
			<td>about 15 hours ago</th>
			<td>gitignore added. mushroom_core commit by Jweb</td>
		</tr>
		<tr>
			<td>dashboard/</td>
			<td>about 15 hours ago</th>
			<td>gitignore added. mushroom_core commit by Jweb</td>
		</tr>
		<tr>
			<td>dashboard/</td>
			<td>about 15 hours ago</th>
			<td>gitignore added. mushroom_core commit by Jweb</td>
		</tr>
		<tr>
			<td>dashboard/</td>
			<td>about 15 hours ago</th>
			<td>gitignore added. mushroom_core commit by Jweb</td>
		</tr>
	</tbody>
</table>

{% endblock %}