{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ 'Timeline' }}{% endblock %}
{% block head %}{{ 'Timeline' }}{% endblock %}
{% block description %}{{ '...' }}{% endblock %}

{% block content %}

<script src="/static/js/jquery.tablesorter.min.js"></script>
<script >
	$(function() {
		$("table#timeline_table").tablesorter({
			sortList: [[2,1]],
			headers: {
				2: {
					sorter: 'text'
				}
			}
		});
	});
</script>
<table class="zebra-striped" id="timeline_table">
	<thead>
		<th>Type</th>
		<th>Event</th>
		<th width="230">DateTime</th>
	</thead>
	<tbody>
		<tr>
			<td>SCM</td>
			<td>Changeset <a href="#">r128</a> by Jweb &lt;jweb@jweb.kr&gt;</th>
			<td class="datetime">4 days ago. 2011-01-06 22:11:23</td>
		</tr>
		<tr>
			<td>Issue</td>
			<td>Issue <a href="#">#12</a> status changed closed by Jweb</th>
			<td class="datetime">6 days ago. 2011-01-06 23:11:23</td>
		</tr>
		<tr>
			<td>SCM</td>
			<td>Changeset <a href="#">r28</a> by Jweb &lt;jweb@jweb.kr&gt;</th>
			<td class="datetime">2011-01-04 23:11:23</td>
		</tr>
	</tbody>
</table>

{% endblock %}