{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ 'Timeline' }}{% endblock %}
{% block head %}{{ 'Timeline' }}{% endblock %}
{% block description %}{{ '...' }}{% endblock %}

{% block content %}

<table class="zebra-striped bordered-table">
	<thead>
		<th>Revision</th>
		<th>Author</th>
		<th width="200">DateTime</th>
		<th>Message</th>
	</thead>
	<tbody>
		{% for log in svnlogs %}
		<tr>
			<td>r{{ log.Revision }}</td>
			<td>by {{ log.Author }}</td>
			<td>{{ log.Date }}</td>
			<td>{{ log.Message }}</td>
		</tr>
			{% for path in log.Paths %}
			<tr>
				<td></td>
				<td></td>
				<td colspan="2">{{ path.action }} {{ path.kind }}. {{ path.path }}</td>
			</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>

{% endblock %}