#chat-wrapper{
	width: 700px;
	background-color: #fdf5d9;
	padding: 5px;
	margin-bottom: 75px;	
}

.chat{}

.date_message{
	background-color: #d1eed1;
}

.date_message .message_person{
	border-right: 0;
}

.date_message .message_body{
	font-weight: bold;
}

.file_message .message_body{
	background-image: url('../images/file_icon.png');
	background-repeat: no-repeat;
	background-position: 8px 10px;
	padding-left: 30px;
}

.message_person{
	width: 100px;
	border-right: 1px solid #ddd;
	font-weight: bold;
}

.message_body_content{
	display: inline;
}

.message_body_time{
	display:inline;
	color: #93a1a1;
	font-size: 10px;
}

.speak{
	position: fixed;
	bottom: -10px;
	width: 710px;
	height: 85px;
	//padding: 5px;
	background-color: white;
}

.speak_person_td{
	width: 90px;
}

#speak_person{
	width: 90px;
	color: black;
}

.speak_body_td{
	width: 600px;
}

#speak_body{
	width: 420px;
	color: black;
}




#chat-desc-wrapper {
	position: fixed;
	top: 60px;
	width: inherit;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	padding: 10px;
	border-color: #c6edf9;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.chat-desc-title{
	padding-bottom: 30px;
}

.label{
	font-size: 11px !important;
}

.dropbox-auth{
	margin-bottom: 50px;
}

.dropbox-form-label{
	width:80px;
	font-weight:bold;
	margin-right:5px;
}

.dropbox-form-controls{
	width: 90px;
}

.dropbox-form-btn, .skype-form-btn{
	width:160px !important;
	margin-top:10px;
}

.skype-form-controls{
	width: 150px;
}
