<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mushroom | Login</title>
		
		<!-- style -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<!-- topbar -->
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="/">Mushroom</a>
					<ul class="nav">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/login">Login</a></li>
						<li><a href="/join_member">Join Member</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- top end -->
		
		
		<!-- container -->
		<div class="container">
			<!-- project name & description -->
			<div class="hero-unit">
				<h1>Member Login</h1>
				<p></p>
			</div>
			{% if form.errors %}
			<div class="alert-message error">
				<p><strong>Incorrect login or password. Check your account information.</strong></p>
			</div>
			{% endif %}
			<form method="post" action=".">
				{% csrf_token %}
				<fieldset>
					<div class="clearfix">
						<label for="username">Username</label>
						<div class="input">{{ form.username }}</div>
						<br />
						<label for="password">Password</label>
						<div class="input">{{ form.password }}</div>
						<br />
						<div class="input">
							<input type="submit" class="btn large" style="width: auto" value="Login" />
							<a href="/join_member" class="btn large">Join Member</a>
						</div>
					</div>
					<input type="hidden" name="next" value="/" />
				</fieldset>
			</form>
		</div>
		<!-- container end -->		
				
		<!-- javascript -->
		<script type="text/javascript" src="/static/js/jquery-1.6.4.js"></script>
	</body>
</html>
